Repository betagouv/preuve-covoiturage, pull requests merged in 2023-04, with the labels that each got.

#2032 Correction de la gestion des dates
  .vscode/settings.json
  api/cron.json
  api/db/index.js
  api/db/migrations/20230309000000-add_tz_to_policies.js
  api/db/migrations/policy/20230309000000-add_tz_to_policies.down.sql
  api/db/migrations/policy/20230309000000-add_tz_to_policies.up.sql
  api/package.json
  api/providers/file/package.json
  api/providers/pdfcert/package.json
  api/providers/validator/src/index.ts
  api/providers/validator/src/keywords/macros/tzMacro.ts
  api/providers/validator/src/types.ts
  api/services/policy/README.md
  api/services/policy/src/ServiceProvider.ts
  api/services/policy/src/actions/ApplyAction.ts
  api/services/policy/src/actions/FinalizeAction.ts
  api/services/policy/src/actions/SimulateOnPastAction.ts
  api/services/policy/src/actions/SimulateOnPastByGeoAction.ts
  api/services/policy/src/actions/SyncIncentiveSumAction.ts
  api/services/policy/src/commands/ProcessCommand.ts
  api/services/policy/src/engine/entities/Policy.ts
  api/services/policy/src/engine/policies/Laval.html.ts
  api/services/policy/src/engine/tests/macro.ts
  api/services/policy/src/helpers/dates.helper.ts
  api/services/policy/src/helpers/dates.helpers.spec.ts
  api/services/policy/src/interfaces/engine/PolicyInterface.ts
  api/services/policy/src/interfaces/providers/PolicyRepositoryProviderInterface.ts
  api/services/policy/src/providers/PolicyRepositoryProvider.integration.spec.ts
  api/services/policy/src/providers/PolicyRepositoryProvider.ts
  api/services/policy/src/providers/TripRepositoryProvider.integration.spec.ts
  api/yarn.lock
  doc/docs/.vuepress/config.js
  doc/docs/api/licenses-list.md
  doc/docs/contribuer/api/dates.md
  doc/docs/contribuer/api/licenses-list.md
  doc/docs/contribuer/api/providers/middleware/index.md
  doc/docs/contribuer/api/providers/normalization/index.md
  doc/docs/contribuer/api/services/acquisition/index.md
  doc/docs/contribuer/api/services/apdf/index.md
  doc/docs/contribuer/api/services/cee/index.md
  doc/docs/contribuer/api/services/monitoring/index.md
  doc/docs/contribuer/api/services/observatory/index.md
  doc/docs/contribuer/api/services/policy/index.md
  doc/gen/licenses.js
  doc/package.json
  doc/yarn.lock
  shared/policy/apply.contract.ts
  shared/policy/apply.schema.ts
  shared/policy/finalize.contract.ts
  shared/policy/finalize.schema.ts
  shared/policy/syncIncentiveSum.contract.ts
  shared/policy/syncIncentiveSum.schema.ts
Labels: Campagne, AMELIORATION

#2076 refactor(certificate): add v3 routes and use in dashboard
  api/providers/pdfcert/src/PdfCertProvider.ts
  api/proxy/src/HttpTransport.ts
  api/services/certificate/src/actions/CreateCertificateAction.spec.ts
  api/services/certificate/src/actions/CreateCertificateAction.ts
  api/services/certificate/src/actions/FindCertificateAction.ts
  api/services/certificate/src/helpers/mapCertForListHelper.spec.ts
  api/services/certificate/src/helpers/mapFromCarpools.spec.ts
  api/services/certificate/src/helpers/mapFromCarpools.ts
  api/services/certificate/src/interfaces/CertificateRepositoryProviderInterface.ts
  api/services/certificate/src/providers/CarpoolPgRepositoryProvider.ts
  api/services/certificate/src/providers/CertificatePgRepositoryProvider.ts
  dashboard/src/app/modules/administration/pages/certificate-list/certificate-list.component.html
  dashboard/src/app/modules/administration/pages/certificate-list/certificate-list.component.ts
  dashboard/src/app/modules/administration/pages/certificate-list/certificate-meta-dialog/certificate-meta-dialog.component.ts
  dashboard/src/app/modules/certificate/pages/check/check.component.html
  dashboard/src/app/modules/certificate/services/certificate-api.service.ts
  shared/certificate/common/interfaces/CarpoolInterface.ts
  shared/certificate/common/interfaces/CertificateMetaInterface.ts
  shared/certificate/download.contract.ts
Labels: ATTESTATION, API V3

#1663 Feat/v3 spec
  api/doc/v3.yaml
Labels: BACK, DOC, keep, API V3
